@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #fff8f8 40.73%, #fff 100%);
}

:root {
  --head--: #ffc9c4;
  --nav--: #fff;
  --log--: #231210;
  --hovera--: #ba7a74;
  --main--: #fff2f0;
  --footer--: #99716d;
  --black--: #000;
  --cont--: #d9d9d9;
  --button--: #be7a74;
  --side--: #ffe4e1;
  --border--: #462320;
  --inputan--: #928383;
  --save--: #00732b;
  --table--: #be7a74;
  --hovtab--: #d6d6d680;
  --edit--: #0057d9;
  --hapus--: #ac0000;
  --refresh--: #ffdd55;
}

.head {
  width: 1280px;
  height: 69px;
  background: var(--head--);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  top: 0;
  position: fixed !important;
  position: -webkit-sticky;
  z-index: 3;
}

.nav {
  width: 1200px;
  height: 40px;
  background-color: var(--nav--);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px 40px 40px 10px;
  top: 50px;
  position: fixed !important;
  position: -webkit-sticky;
  z-index: 5;
}
.elem-yang-bisa-diklik {
  /* pastikan elemen yang bisa diklik memiliki posisi relatif atau absolut */
  position: relative;
  z-index: 10; /* angka ini bisa disesuaikan */
}
.nav img {
  position: relative;
  top: -30px;
  margin-left: 40px;
  width: 150px;
  height: 150px;
  border-radius: 187px;
  background: url(/img/Ellipse\ 1.png), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav ul {
  color: var(--log--);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
  display: flex;
  transition: color 0.5s;
  margin-left: 230px;
  margin-top: -163px;
}

/* .select-box {
  border: none;
  outline: 0;
  font-size: 15px;
  background: transparent;
  transition: border-color 0.2s;
  width: 200px;
  font-size: 15px;
  display: flex;
  height: 2.5em;
  text-transform: uppercase;
  color: var(--log--);
  margin-left: 330px;
  margin-top: 7.5px;
} */

.nav a:before {
  content: "";
  position: absolute;
  background-color: var(--hovera--);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 2.5px;
  width: 0px;
  bottom: 10px;
  transition: 0.3s;
}

.nav .stok a:focus::before {
  width: 102px;
}

.nav .pes a:focus::before {
  width: 110px;
}

.nav .pen a:focus::before {
  width: 100px;
}

.nav .log a:focus::before {
  width: 60px;
}

a {
  text-decoration: none;
  color: var(--log--);
}

.nav li {
  display: table-cell;
  position: relative;
  padding: 15px;
}

.nav li.log {
  margin-left: 400px;
}

.datetime {
  position: fixed !important;
  position: -webkit-sticky;
  width: 400px;
  height: 70px;
  border-radius: 50px;
  background: #ffdfdc;
  box-shadow: -11px 11px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 80px;
  margin-left: 100px;
  z-index: 1;
}

.datetime p {
  margin-top: 28px;
  margin-left: 100px;
  position: absolute;
  font-size: 18px;
}

.datetime img {
  position: absolute; 
  margin: 20px 0 0 330px;
  width: 40px;
}

.table-content {
  width: 400px;
  height: 350px;
  border: 2px solid var(--button--);
  position: fixed !important;
  position: -webkit-sticky;
  margin: 200px 0 0 80px;
  overflow: scroll;
}

.table-content::-webkit-scrollbar {
  display: none;
}

.table-header {
  display: inline-flex;
  margin: 10px;
}

/* .table-content .table-header {
  position: fixed !important;
  position: -webkit-sticky;
} */

.table-header .today {
  margin: 6px 0 0 5px;
  color: #928383;
}

.table-content .menu {
  display: inline-flex;
  position: relative;
  bottom: 10px;
}

.menu {
  border-bottom: 2px solid var(--button--);
  padding: 10px;
}

.first-menu {
  position: relative;
  display: grid;
  margin-left: 10px;
}

.first-menu .nama-menu {
  font-size: 18px;
}

.first-menu .time {
  margin-top: 5px;
  display: inline-flex;
  font-size: 15px;
}

.first-menu .time img {
  width: 15px;
  height: 15px;
}

.first-menu .time p {
  margin: -3px 0 0 5px;
}

.second-menu {
  position: relative;
  margin-left: 200px;
}

.second-menu .jumlah {
  display: inline-flex;
}

.second-menu .jumlah h3 {
  font-size: 30px;
}

.second-menu .jumlah p {
  font-size: 15px;
  margin-top: 15px;
}

.wrapper {
  max-width: 1100px;
  width: 63%;
  position:fixed;
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 115vh;
  margin-left: 75vh;
  /* right: 0; */
}
.wrapper i {
  top: 54%;
  height: 40px;
  width: 150px;
  cursor: pointer;
  font-size: 1.25rem;
  position: relative;
  text-align: center;
  line-height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -8px;
}
.wrapper i:last-child{
  right: 22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 15px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 300px;
  width: 200px;
  list-style: none;
  background: #462320;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.card .img img {
  width: 185px;
  height: 220px;
  object-fit: cover;
  /* border: 4px solid #fff; */
  margin-top: 20px;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 1px 0 5px;
  color: var(--nav--);
}
.carousel .card .add {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.carousel .card .add input {
  margin-left: 4px;
  width: 30px;
  height: 25px;
  border: none;
  text-align: center;
  outline: 0;
  border-bottom: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 18px;
}
.carousel .card span button {
  color: #6A6D78;
  font-size: 1.31rem;
  width: 30px;
  height: 30px;
  border-radius:50% ;
  position: relative;
  margin: 1px 0 0 5px;
}
.carousel .card span button img {
    height: 30px;
    width: 30px;
    position: relative;
    margin: -2px;
}
.carousel .card  button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
  }
  
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

.simpan button {
  position: absolute;
  margin-top: 180px;
  margin-left: -360px;
  width: 150px;
  height: 40px;
  background-color: #566d3f;
  color: var(--nav--);
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 15px;
}

.simpan button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.simpan button:hover:not(:disabled) {
  background: var(--border--);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.simpan button:disabled {
  cursor: auto;
  color: grey;
}

@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

div#selectetField {
  width: 362px;
  background: transparent;
  position: fixed;
  margin-left: 9px;
  z-index: 9;
}

#selectetField {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#selectetField p {
  margin-left: 148px; /* Menghilangkan margin default */
  color: #BE7A74;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -8px;
}


#selectetField img {
  margin: 0 6px; 
  float: left; 
  margin-left: 6px;
  margin-top: -9px;
}
#selectetField img:last-child {
  
margin-left: 119px;
  
position: fixed;
  }
  

.selector img[src$=".svg"] {
  width: 39px;
}
.selector img[src$=".png"] {
  width: 10px;
}
.selector {
  margin-left: 868px;
  margin-top: 60px;
}
ul#list {
  border: 1px solid #462320;
  background: #FFF;
  width: 251px;
  margin-top: 31px;
  margin-left: 130px;
  position: fixed;
  z-index: 9;
}
li.options {
  border-top: 1px solid #462320;
  background: #FFF;
  list-style-type: none;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
span.Keterangan {
  color: #B2B2B2;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 17px;
}
li.options1 {
  list-style-type: none;
  margin-left: 77px;
}
.options p {
  margin-left: 36px;
  margin-top: -30px;
  height: 34px;
}
.hide{
  visibility: hidden;
}
  
.selector-list img[src$=".png"] {
  width: 24px;
  margin-left: 9px;
  margin-top: 9px;
}
