@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #fff8f8 40.73%, #fff 100%);
}

:root {
  --head--: #ffc9c4;
  --nav--: #fff;
  --log--: #231210;
  --hovera--: #ba7a74;
  --main--: #fff2f0;
  --footer--: #99716d;
  --black--: #000;
  --cont--: #d9d9d9;
  --button--: #be7a74;
  --side--: #ffe4e1;
  --border--: #462320;
  --inputan--: #928383;
  --save--: #00732b;
  --table--: #be7a74;
  --hovtab--: #d6d6d680;
  --edit--: #0057d9;
  --hapus--: #ac0000;
  --refresh--: #ffdd55;
}

.head {
  width: 1280px;
  height: 69px;
  background: var(--head--);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  top: 0;
  position: fixed !important;
  position: -webkit-sticky;
  z-index: 3;
}

.nav {
  width: 1200px;
  height: 40px;
  background-color: var(--nav--);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px 40px 40px 10px;
  top: 50px;
  position: fixed !important;
  position: -webkit-sticky;
  z-index: 5;
}
.elem-yang-bisa-diklik {
  /* pastikan elemen yang bisa diklik memiliki posisi relatif atau absolut */
  position: relative;
  z-index: 10; /* angka ini bisa disesuaikan */
}
.nav img {
  position: relative;
  top: -30px;
  margin-left: 40px;
  width: 150px;
  height: 150px;
  border-radius: 187px;
  background: url(/img/Ellipse\ 1.png), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav ul {
  color: var(--log--);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
  display: flex;
  transition: color 0.5s;
  margin-left: 230px;
  margin-top: -163px;
}

/* .select-box {
  border: none;
  outline: 0;
  font-size: 15px;
  background: transparent;
  transition: border-color 0.2s;
  width: 200px;
  font-size: 15px;
  display: flex;
  height: 2.5em;
  text-transform: uppercase;
  color: var(--log--);
  margin-left: 330px;
  margin-top: 7.5px;
} */

.nav a:before {
  content: "";
  position: absolute;
  background-color: var(--hovera--);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 2.5px;
  width: 0px;
  bottom: 10px;
  transition: 0.3s;
}

.nav .stok a:focus::before {
  width: 102px;
}

.nav .pes a:focus::before {
  width: 110px;
}

.nav .pen a:focus::before {
  width: 100px;
}

.nav .log a:focus::before {
  width: 60px;
}

a {
  text-decoration: none;
  color: var(--log--);
}

.nav li {
  display: table-cell;
  position: relative;
  padding: 15px;
}

.nav li.log {
  margin-left: 400px;
}
div#selectetField {
    width: 362px;
    background: transparent;
    position: fixed;
    margin-left: 9px;
    z-index: 9;
  }
  
  #selectetField {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  #selectetField p {
    margin-left: 148px; /* Menghilangkan margin default */
    color: #BE7A74;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -8px;
  }
  
  
  #selectetField img {
    margin: 0 6px; 
    float: left; 
    margin-left: 6px;
    margin-top: -9px;
  }
  #selectetField img:last-child {
    
  margin-left: 119px;
    
  position: fixed;
    }
    
  
  .selector img[src$=".svg"] {
    width: 39px;
  }
  .selector img[src$=".png"] {
    width: 10px;
  }
  .selector {
    margin-left: 868px;
    margin-top: 60px;
    z-index: 10;
    position: fixed;
  }
  ul#list {
    border: 1px solid #462320;
    background: #FFF;
    width: 251px;
    margin-top: 31px;
    margin-left: 130px;
    position: fixed;
    z-index: 9;
  }
  li.options {
    border-top: 1px solid #462320;
    background: #FFF;
    list-style-type: none;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  span.Keterangan {
    color: #B2B2B2;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 17px;
  }
  li.options1 {
    list-style-type: none;
    margin-left: 77px;
  }
  .options p {
    margin-left: 36px;
    margin-top: -30px;
    height: 34px;
  }
  .hide{
    visibility: hidden;
  }
    
  .selector-list img[src$=".png"] {
    width: 24px;
    margin-left: 9px;
    margin-top: 9px;
  }
  .wrapper {
    width: 225px;
    height: 235px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 215px;
    position: fixed;
    margin-left: 130px;
}
.wrapper img {
    width: 137px;
    margin-top: 17px;
    margin-left: 44px;
}

.teks {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 60px;
    margin-top: 9px;
}

span.ket {
    color: #928383;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    margin-left: 28px;
    margin-top: 16px;
}
.head2 {
    position: fixed;
    margin-top: 167px;
    margin-left: 414px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 11;
    width: 762px;
    height: 333px;
}
.nav2 {
    display: flex;
    border-bottom: 1px solid #BE7A74;
    height: 32px;
}

.nav2 ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2.5rem;
}
.nav2 ul {
    margin-left: 73px;
    gap: 9rem;
}
.nav2 ul li a {
    text-decoration: none;
    color: #000;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 3px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 3px soid #be7a7400;
}
.nav2 ul li a:hover {
    color: #BE7A74;
    border-bottom: 3px solid #BE7A74;
}
.title {
    color: #000;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 19px;
    margin-top: 19px;
}
.content {
    margin-left: 45px;
    margin-top: 12px;
}
.form .box input{
    position: relative;
    height: 50px;
    width: 100%;
    font-size: 1rem;
    pad: 0 15px;;
}
input {
    width: calc(100% - 20px); /* Menyesuaikan lebar input */
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-top: 5px; /* Menambahkan margin top agar ada ruang di atas input */
    border-radius: 36px;
    background: #FFDFDC;
  }
  .wrapper1 button {
    height: 32px;
    margin-left: 328px;
    margin-top: 11px;
    cursor: pointer;
    width: 133px;
}
  button.button1 {
    background: #fff;
    border-radius: 41px;
    border: 5px solid #BE7A74;
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.box {
    color: #928383;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
input[type="text"] {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
img {
    width: 16px;
    margin-left: -34px;
    cursor: pointer;
}
