* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
body {
  padding: 0;
  margin: 0;
}

:root { 
  --head--: #ffc9c4;
  --nav--: #fff;
  --log--: #231210;
  --hovera--: #ba7a74;
  --main--: #fff2f0;
  --footer--: #99716d;
  --black--: #000;
  --cont--: #d9d9d9;
  --button--: #be7a74;
}



.open img {
  position: fixed;
  width: 100%;
  height: 560px;
  top: 70px;
  animation: fadeIn 2s;
}

.head {
  width: 100%;
  height: 69px;
  background: var(--head--);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  top: 0;
  position: fixed !important;
  position: -webkit-sticky;
  /* z-index: 1; */
}

.nav {
  width: 1200px;
  height: 40px;
  background-color: var(--nav--);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px 40px 40px 10px;
  top: 50px;
  position: fixed !important;
  position: -webkit-sticky;
  animation: slideInLeft;
  animation-duration: 2s;
  /* z-index: 2; */
}

.nav a {
  color: var(--log--);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  display: flex;
  float: right;
  margin-right: 50px;
  padding: 5px;
  transition: color 0.3s;
}

.head .nav a:before {
  content: "";
  position: absolute;
  background-color: var(--hovera--);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 3px;
  width: 0px;
  bottom: 0px;
  transition: 0.3s;
}

.head .nav a:hover:before {
  width: 55px;
}

.nav img {
  position: relative;
  top: -30px;
  margin-left: 40px;
  width: 150px;
  height: 150px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  width: 100%;
  min-height: 100vh;
  /* margin-top: -550px; */

}

.container {
  width: 480px;
  height: 450px;
  border-radius: 93px;
  background: var(--cont--);
  margin-top: 150px;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex; 
  position: fixed;
  filter: drop-shadow(4px 4px 6.599999904632568px rgba(0, 0, 0, 0.25));
  animation: fadeInUp 2s;
  /* z-index: 1; */
}

.container h2 {
  color: var(--black--);
  text-align: center;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -30px;
}

.container p {
  color: var(--black--);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 5px;
  margin-bottom: 40px;
}

.input-container {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: var(--nav--);
  margin: 25px 0;
}

.input-container input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 40px;
  outline: none;
  padding: 3px;
}

.forgot {
  color: var(--black--);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* margin-top: 30px; */
  margin-bottom: 20px;
}

button {
  width: 100%;
  height: 45px;
  border-radius: 40px;
  background: var(--button--);
  border: none;
  font-size: 20px;
  color: var(--nav--);
}

button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
  background: lightcoral;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

button:disabled {
  cursor: auto;
  color: grey;
}

.footer {
  width: 1263px;
  height: 340px;
  background: var(--footer--);
  display: flex;
  color: var(--nav--);
}

.contact-us img {
  position: relative;
  margin: 75px;
  width: 180px;
}

.footer .content {
  margin-top: 50px;
  text-align: right;
  font-family: Poppins;
  font-size: 20px;
  margin-left: 450px;
}

.footer .content h3 {
  margin-top: 30px;
}

.footer .content p.wa {
  margin-top: 30px;
}

.footer .content p {
  margin-top: 20px;
}

.content img {
  position: absolute;
  width: 30px;
  margin-top: 0px;
}

.content .wa img {
  margin-left: -450px;
}

.content .ig img {
  margin-left: -250px;
}

.content .fb img {
  margin-left: -235px;
}
