* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --head--: #ffc9c4;
  --nav--: #fff;
  --log--: #231210;
  --hovera--: #ba7a74;
  --main--: #fff2f0;
  --footer--: #99716d;
  --black--: #000;
  --cont--: #d9d9d9;
  --button--: #be7a74;
  --side--: #ffe4e1;
  --border--: #462320;
  --inputan--: #928383;
  --save--: #00732B;
  --table--: #be7a7480;
  --hovtab--: #d6d6d680;
  --edit--: #0057d9;
  --hapus--: #ac0000;
  --refresh--: #FFDD55;
}

.head {
  width: 1280px;
  height: 69px;
  background: var(--head--);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  top: 0;
  position: fixed !important;
  position: -webkit-sticky;
  z-index: 3;
}

.nav {
  width: 1200px;
  height: 40px;
  background-color: var(--nav--);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px 40px 40px 10px;
  top: 50px;
  position: fixed !important;
  position: -webkit-sticky;
  z-index: 2;
}
.nav img {
  position: relative;
  top: -30px;
  margin-left: 40px;
  width: 150px;
  height: 150px;
  border-radius: 187px;
  background: url(/img/Ellipse\ 1.png), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav ul {
  color: var(--log--);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
  display: flex;
  transition: color 0.5s;
  margin-left: 230px;
  margin-top: -163px;
}

.nav a:before {
  content: "";
  position: absolute;
  background-color: var(--hovera--);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 2.5px;
  width: 0px;
  bottom: 10px;
  transition: 0.3s;
}

.nav .mas a:hover:before {
  width: 60px;
}

.nav .pes a:hover::before {
  width: 125px;
}

.nav .eta a:hover::before {
  width: 60px;
}

.nav .lap a:hover::before {
  width: 70px;
}

.nav .log a:hover::before {
  width: 65px;
}

a {
  text-decoration: none;
  color: var(--log--);
}

.nav li {
  display: table-cell;
  position: relative;
  padding: 15px;
}

.nav li.log {
  margin-left: 400px;
}
  .Welcome {
    border-radius: 51px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 79px;
    margin-top: 96px;
    width: 488px;
    height: 73px;
  }
.text-hero {
    top: 312px;
    position: sticky;
    width: 586px;
    height: 42px
}

h1 {
  transition: color 0.5s;
  margin-left: 112px;
  color: #462320;
  font-family: Prompt;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  top: 321px;
  line-height: normal;
}

section.PenjualanPemesanan {
  text-align: center;
  margin-top: -5px;
  margin-left: 485px;
}

.container.PenjualanPemesanan {
    display: flex;
    color: #fff;
    gap: 25px;
}

.Penjualan {
    width: 172px;
    height: 89px;
    flex-shrink: 0;
    background-color: #40A090;
    margin-left: 25px;
}

h2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 103px;
    height: 37.2px;
}
h3 {
  color: #FFF;
  text-align: center;
  font-family: Signika;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 183px;
  height: 59.14px;
  margin-top: -1px;
}

.Pemesanan {
    width: 172px;
    height: 89px;
    flex-shrink: 0;
    background: #6AA475;
}

.Total {
    width: 172px;
    height: 89px;
    flex-shrink: 0;
    background: #BE7A74;
}
header.kue.Terjual-header {
  width: 179px;
  height: 150px;
  flex-shrink: 0;
  background: #40A090;
  align-items: center;
  margin-top: -16px;
  margin-left: -23px;
}

footer.Detail {display: flex;align-items: center;   margin-left: -23px;}

h4 {
  color: #FFF;
  font-family: Signika;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  margin-left: 33px;
  margin-top: 30px;
}

h5 {
  width: 252px;
  height: 37px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  margin-left: -38px;
  margin-top: 99px;
}

.lihatdetail {color: #40A090;font-family: Poppins;font-size: 17px;font-style: normal;font-weight: 600;line-height: normal;width: 179px;height: 46px;flex-shrink: 0;background: #D6D6D6;}

img {
  width: 20px;
  height: 21px;
  margin-left: 35px;
}

.Kue.terjual {
  align-items: center;
}

span.lihatdetail {
  margin-left: 16px;
  margin-top: 80px;
}

h6 {
  display: flex;
  text-align: center;
  margin-left: 5px;
  margin-top: 13px;
  gap: 42px;
}

header.PesananMenunggu-header {
  width: 179px;
  height: 150px;
  background: #6AA475;
  margin-top: 15px;
  margin-left: -23px;
}

h7 {
  color: #FFF;
  font-family: Signika;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  margin-left: 62px;
  margin-top: 30px;
}

h8 {
  width: 252px;
  height: 37px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  margin-left: -38px;
  margin-top: 99px;
}

footer.Pesanan {
  color: #40A090;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 179px;
  height: 46px;
  margin-top: -14px;
  flex-shrink: 0;
  background: #D6D6D6;
  margin-left: -23px;
}
.Pesanan.Menunggu {
  display: flex;
  text-align: center;
  margin-left: 0px;
  margin-top: 13px;
  gap: 42px;
}

.table-responsive {
  display: flex;
  position: relative;
}

.content {
  width: 250px;
  height: 402px;
  overflow: auto;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.25);
  margin-top: -403px;
  margin-left: 201px;
}

.table-responsive ::-webkit-scrollbar {
  display: none;
}

.table-responsive .content .menu {
  display: inline-flex;
  position: relative;
  bottom: 15px;
}

.content .menu {
  border-bottom: 2px solid var(--button--);
  padding: 10px;
  margin-left: 5px;
  /* top: 5px */
}

.content .first-menu {
  position: relative;
  display: grid;
  margin-left: -25px;
  /* bottom: 15px; */
}

.content .first-menu .nama h4{
  font-size: 13px;
  color: #660A00;
  font-family: Poppins;
  bottom: 20px;
}

.content .first-menu .kode {
  margin-top: 30px;
  display: inline-flex;
  font-size: 10px;
}

.content .first-menu .kode img {
  width: 15px;
  height: 15px;
  /* margin-left: 30px; */
}

.content .first-menu .kode p {
  margin: -1px 0 0 5px;
}

.content .second-menu {
  position: relative;
  margin-left: 20px;
}

.content .second-menu .price {
  display: inline-flex;
}

.content .second-menu .price p {
  font-size: 10px;
  /* font-size: 15px; */
  margin-top: 15px;
}

.content .title{
  position: relative; 
  text-align: center;
  margin-top: 25px;
  color: var(--button--);
}

.ContainerGrafik {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.10);
  width: 621px;
  height: 351px;
  margin-left: 552px;
  margin-top: 90px;
}

ul.containtsamping li {
  list-style: none;
  width: 82.039px;
  height: 31.752px;
  flex-shrink: 0;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 34px;
  border-block-width: #bbb;
}
.d1 {
  margin-left: 104px;
  position: absolute;
  height: 200px;
  width: 50px;
  background: palevioletred;
  margin-top: 121px;
}

.d2 {
  position: absolute;
  height: 235px;
  width: 50px;
  background: black;
  margin-left: 154px;
  margin-top: 86px;
}

#columnchart_material {
  position: relative;
  margin : 15vh 0 0 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
