@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
    /* scroll-padding-top: 1.35rem; */
  }

  .container {
    width: 750px;
    margin: 50px;
    position: fixed;
  }
  .caraousel {
    /* border: 2px solid #ccc; */
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .slider {
    height: 100%;
    display: flex;
    width: 500%;
    /* border: 1px solid red; */
    transition: all 0.3s;
    /* transform: translate(-25%); */
  }

  .slider img {
    /* margin-top: 100px; */
    /* margin-left: -500px; */
    width: 200px;
    position: relative;
  }

  .slider section {
    /* gap: 100px; */
    flex-basis: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider section p {
    position: absolute;
    margin-top: -200px;
    font-size: 25px;
    z-index: 1;
    color: #fff;
    font-weight: 700;
  }
  .controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .controls .arrow i {
    font-size: 25px;
  }
  .arrow.left {
    left: 0px;
  }
  .arrow.right {
    right: 0px;
  }
  .caraousel .slider .add {
    margin-top: 200px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .caraousel .slider .add input {
    margin-left: 4px;
    width: 30px;
    height: 25px;
    border: none;
    text-align: center;
    outline: 0;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 18px;
  }
  .caraousel .slider span button {
    color: #6A6D78;
    font-size: 1.31rem;
    width: 30px;
    height: 30px;
    border-radius:50% ;
    position: relative;
    margin: 1px 0 0 5px;
  }
  .caraousel .slider span button img {
      height: 30px;
      width: 30px;
      position: relative;
      margin: -2px;
  }
  .caraousel .slider  button:active {
      color: white;
      box-shadow: 0 0.2rem #dfd9d9;
      transform: translateY(0.2rem);
    }