@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

* { 
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
} 

body {
  margin: 0;
  padding: 0;
  background: #FFF8F8;
}

:root { 
  --head--: #ffc9c4;
  --nav--: #fff;
  --log--: #231210;
  --hovera--: #ba7a74;
  --main--: #fff2f0;
  --footer--: #99716d;
  --black--: #000;
  --cont--: #d9d9d9;
  --button--: #be7a74;
  --side--: #ffe4e1;
  --border--: #462320;
  --inputan--: #928383;
  --save--: #00732b;
  --table--: #be7a74;
  --hovtab--: #d6d6d680;
  --edit--: #0057d9;
  --hapus--: #ac0000;
  --refresh--: #ffdd55;
}

.head {
  width: 1280px;
  height: 69px;
  background: var(--head--);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  top: 0;
  position: fixed !important;
  position: -webkit-sticky;
  z-index: 3;
}

.nav {
  width: 1200px;
  height: 40px;
  background-color: var(--nav--);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px 40px 40px 10px;
  top: 50px;
  position: fixed !important;
  position: -webkit-sticky;
  z-index: 2;
  animation: slideInLeft 2s;
}
.nav img {
  position: relative;
  top: -30px;
  margin-left: 40px;
  width: 150px;
  height: 150px;
  border-radius: 187px;
  background: url(/img/Ellipse\ 1.png), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav ul {
  color: var(--log--);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
  display: flex;
  transition: color 0.5s;
  position: relative;
  margin-left: 230px;
  margin-top: -163px;
}

.nav a:before {
  content: "";
  position: absolute;
  background-color: var(--hovera--);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 2.5px;
  width: 0px;
  bottom: 10px;
  transition: 0.2s;
}

.nav .mas a:focus:before {
  width: 60px;
}

.nav .pes a:focus::before {
  width: 125px;
}

.nav .eta a:focus::before {
  width: 60px;
}

.nav .lap a:focus::before {
  width: 70px;
}

.nav .log a:focus::before {
  width: 65px;
}

a {
  text-decoration: none;
  color: var(--log--);
}

.nav li {
  display: table-cell;
  position: relative;
  padding: 15px;
}

.nav li.log {
  margin-left: 400px;
}

.title h1 {
    position: relative;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    animation: slideInDown 2s;
}

.datetime {
  position: relative;
  /* position: -webkit-sticky; */
  width: 300px;
  height: 40px;
  border-radius: 50px;
  background: #ffdfdc;
  box-shadow: -5px 5px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top:20px;
  margin-left: 80px;
  animation: slideInLeft 2s;
  /* z-index: 1; */
}

.datetime p {
  margin: 8px 0 0 20px;
  /* margin-left: 100px; */
  position:absolute;
  font-size: 16px;
  justify-content: center;
}

.setor {
  position: relative;
  margin-left: 1000px;
  margin-top: 20px;
  animation: slideInRight 2s;
}

.setor input {
  width: 190px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid var(--button--);
  padding-left: 5px;
}

.datetime img {
  position: absolute;
  margin: 5px 0 0 250px;
  width: 30px;
}

.button {
  display: flex;
  position: relative;
  margin-left: 900px;
  margin-top: -40px;
  animation: slideInRight 2s;
}

.button button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  color: var(--nav--);
}

.button img {
  width: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  padding-left: 5px;
} 

.button .simpan input {
  width: 160px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid var(--button--);
  padding-left: 5px;

}

.button .edit button {
  background: #0057d9;
  margin-left: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.button button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}
 
.button button:hover:not(:disabled) {
  background: var(--border--);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.button button:disabled {
  cursor: auto;
  color: grey;
}

  .table {
    width: 1100px;
    height: 320px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.25); 
    position: fixed;
    margin: 30px 0 0 100px;
    animation: slideInUp 2s;
  }

  .table-pesanan {
    position: relative;
    position: -webkit-sticky;
    margin-top: 30px;
    height: 270px;
    overflow-y: auto;
    border-spacing: none;
    margin-left: -100px;
    /* display: flex; */
  }
  
  .table-pesanan::-webkit-scrollbar {
    display: none;
  }
  
  .table-pesanan thead th {
    position: relative;
    /* position: -webkit-sticky; */
    top: 0;
    padding: 15px;
    color: var(--nav--);
  }
  
  .table-pesanan table {
    width: 100px;
    table-layout: fixed;
    min-width: 1000px;
    margin-left: 150px;
    /* text-align: center; */
    border-collapse: collapse;
    /* letter-spacing: 0.03em; */
    /* justify-content: space-between; */
  }
  
  .table-pesanan thead th {
    position: sticky;
    top: 1;
    background-color: var(--table--);
    font-size: 15px;
    border-radius: 10px;
  }
  
  .table-pesanan th,
  td {
    /* border-bottom: 1px solid var(--inputan--); */
    padding: 5px;
    word-break: break-all;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
  }
  
  .table-pesanan td {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  
  tr:hover td {
    background-color: var(--hovtab--);
  }