* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
  }
  body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* background: var(--main--); */
  }
   
  :root {
    --head--: #FFC9C4;
      --nav--: #FFF;
      --log--: #231210;
      --hovera--: #BA7A74;
      --main--: #FFF2F0;
      --footer--: #99716D;
      --black--: #000;
      --cont--: #D9D9D9;
      --button--: #BE7A74;
      --side--: #FFE4E1;
      --border--: #462320;
      --inputan--: #928383;
      --save--: #00732B;
      --hovtab--: #D6D6D680;
      --edit--: #0057D9;
      --hapus--: #AC0000;
      --refresh--: #FFDD55;
  }
  .head {
    width: 1280px;
    height: 69px;
    background: var(--head--);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    top: 0;
    position: fixed !important;
    position: -webkit-sticky;
    z-index: 1;
  }
  
  .nav {
    width: 1200px;
    height: 40px;
    background-color: var(--nav--);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px 40px 40px 10px;
    top: 50px;
    position: fixed !important;
    position: -webkit-sticky;
    z-index: 2;
  }
  
  .nav a.login {
    color: var(--log--);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    display: flex;
    float: right;
    margin-right: 50px;
    padding: 5px;
    transition: color 0.3s;
  }
  
  a.login:after {
    content: "";
    position: absolute;
    background-color: var(--hovera--);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 3px;
    width: 0px;
    bottom: 0px;
    transition: 0.3s;
  }
  
  a.login:hover:after {
    width: 55px;
  }
  
  .nav img {
    position: relative;
    top: -30px;
    margin-left: 40px;
    width: 150px;
    height: 150px;
    background-image: url(/img/Ellipse\ 1.png);
  }     

  .background img {
    width: 1263px;
    height: 561px;
    margin-left: 0;
    top: 47px;
    position: relative;
  }
 
  .title img {
    position: absolute;
    margin: -400px 0 0 50px;
    animation: slideInLeft 2s;
  }

  .deskripsi {
    position: relative;
    margin: -250px 0 0 100px;
    color: var(--nav--);
  }

  .deskripsi p {
    letter-spacing: 1px;
    font-size: 25px;
  }

  .content {
    position: relative;
    display: flex;
    margin: 50px 0 0 80px;
  }

  .first-card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 200px;
    height: 100px;
    border-radius: 30px;
    font-size: 20px;
    background: linear-gradient(75deg, #FFF8F8 40.42%, #DFBCB9 97.03%);
    animation: fadeInUp 2s;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  .first-card:hover {
    transform: scale(1.1, 1.1);
  }

  .first-card .image img {
    width:35px;
    padding-top: 10px;
  }

 .first-card .isi h3{
    font-size: 25px;
    font-weight: bold;
    color: #566D3F;
  }
  
  .first-card .isi {
    margin-left: 15px;
    line-height: 1.2;
  }

  .second-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 200px;
    height: 100px;
    border-radius: 30px;
    font-size: 20px;
    background: linear-gradient(75deg, #FFF8F8 40.42%, #DFBCB9 97.03%);
    animation: fadeInUp 2s;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  .second-card:hover {
    transform: scale(1.1, 1.1);
  }

  .second-card .image img {
    width: 50px;
    padding-top: 10px;
  }

 .second-card .isi h3{
    font-size: 25px;
    font-weight: bold;
    color: #566D3F;
  }
  
  .second-card .isi {
    margin-left: 15px;
    line-height: 1.2; 
  }

  .back img {
    margin-top: -200px;
    width: 1263px;
    height: 500px;
  }

  .back h1 {
    position: relative;
    color: #231210;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    font-size: 50px;
    animation: fadeInUp 2s;
  }
  
  /* .first-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-menu {
    position: relative;
    width: 300px;
    height: 330px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 60px;
    margin-top: -150px;
    margin-bottom: 200px;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }

  .card-menu img{
    width: 280px;
    height: 190px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
  }

  .card-menu:hover {
    transform: scale(1.2, 1.2);
  }

  .card-menu h3 {
    font-size: 30px;
    padding-left: 10px;
  }

  .card-menu p {
    font-size: 12px;
    padding-left: 10px;
  } */

  .first-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-menu {
    transition: all 0.3s ease-out;
    position: relative;
    overflow: hidden;
    margin-top: -150px;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 16px; 
    width: 280px;
    height: 189px;
    padding: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: -130px 0 220px 50px;
    cursor: pointer;
  }

  .card-menu:hover {
    transform: scale(1.2, 1.2);
  }
  
  .card-menu * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .card-menu img {
    max-width: 100%;
    vertical-align: top;
  }
  .card-menu figcaption {
    position: absolute;
    top: calc(70%);
    width: 95%;
    background-color: #ffffffa4;
    padding: 15px 25px 65px;
  }
  .card-menu figcaption:before {
    position: absolute;
    content: '';
    z-index: 2;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 50%);
    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 150%);
  }
  /* .card-menu h3,
  .card-menu p {
    margin: 0 0 5px;
  } */
  .card-menu h3 {
    font-weight: 300;
    font-size: 1.4em;
    line-height: 2em;
    font-family: Poppins;
    font-weight: bold;
    /* text-transform: uppercase; */
  }
  .card-menu p {
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
  }

  .card-menu:hover figcaption,
  .card-menu.hover figcaption {
    top: 30px;
  }

  .back-content img {
    /* width: 1263px; */
    width: 100%;
    height: 600px;
    margin-top: -100px;
  }

  .product-content {
    position: relative;
    margin: -200px 0 0 350px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 550px;
    height: 350px;  
    border-radius: 65px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .product-content .product {
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    /* padding-top: 70px; */
    padding: 50px;
  }

  .product p {
    font-size: 15px;
    margin-top: 30px;
  }

  .product button {
    width: 180px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 39px;
    border: 5px solid #BE7A74;
    background: transparent;
    margin-top: 30px;
    font-size: 16px;
  }
  
  button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
  }
  
  button:hover:not(:disabled) {
    background: var(--main--);
    color: #000;
    text-shadow: 0 0.1rem #bcb4b4;
  }
  
  button:disabled {
    cursor: auto;
    color: grey;
  }

  .maps iframe {
    width: 1100px;
    margin: 75px;
  }

  .contact img {
    width: 100%;
  }

  .info {
    display: flex;
    position: relative;
  }

  .card-info:hover {
    transform: scale(1.2, 1.2);
  }

  .card-info {
    width: 250px;
    height: 280px;
    border-radius: 52px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: -450px 0 0 130px;
    transition: all 0.3s ease-out;
  }

  .card-info img {
    width: 50px;
    margin-top: 20px;
  }

  .card-info h3 {
    color: var(--button--);
    font-size: 25px;
    margin-top: 40px;
  }

  .card-info p {
    font-size: 20px;
    margin-top: 20px;
  }

  .footer {
    width: 100%;
    height: 400px;
    background: var(--footer--);
    display: flex;
    color: var(--nav--);
    margin-top: 100px;
  }
  
 .contact-us img {
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px 0 0 540px;
    width: 150px;
  }
  
  .footer .content-us {
    margin: 280px 0 0 -450px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* margin-left: 450px; */
  }
  
  .fab {
    padding-right: 14px;
    width: 30px;
  }
  
  a {
    text-decoration: none;
    color: var(--log--);
  }
  
  .list-info li {
    display: table-cell;
    position: relative;
    padding: 20px;
    color: var(--nav--);
  }

  .list-info a{
    color: var(--nav--);
  }

  .list-info ul {
    color: var(--nav--);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
    display: inline-flex;
    transition: color 0.5s;
    margin-left: -356px;
    margin-top: 200px;
  }

.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background-color: #06a106;
  color: #ffffff;
}
  
/*   
  @media screen and (max-width: 768px) {
    .head {
      width: 600px;
      float: left;
    }
  }
  
  @media screen and (max-width: 768px) {
    .nav {
      width: 550px;
      float: left;
    }
  }
  
  @media screen and (max-width: 768px) {
    section {
      width: 600px;
      float: left;
    }
  }
   */
  